#GoogleImage{
	position: relative;
	width: 270px;
	height: 100px;
	display: block;
	margin: 0 auto;
    top: 180px;

}

#searchform{
	position: relative;
	display : block;
	width: 570px;
	height: 25px;
    margin: 0 auto;
    top: 210px;
    border-color: silver;
    border-radius: 0;
    

}